ion-card{
    position: relative;    
    border-radius: 15px; 
    text-align: center;
}

.center{
    display: flex;
    justify-content: center;  
}

.ion-detalle{
    margin-top: 0px;
}

.imagen-fija {
    width: 250px;
    height: 250px;
}