  <ion-row class="center">
    <ion-col sizeLg="6" sizeMd="6" sizeXs="12">
      <img src="../../assets/images/logoGW.jpg">
    </ion-col>
  </ion-row>

<br><br><br><br>

  <ion-row class="center" >
    <ion-label>
      <h2>¿Qué quieres ver o vender hoy?</h2>
    </ion-label>      
  </ion-row>
  
  <br><br>  

  <span class="span">
    <ion-button class="square-button" (click)="guardarSeleccion(1)">
      <ion-icon name="card" size="large"></ion-icon>
      Vender
    </ion-button>
    
    <ion-button class="square-button" [routerLink]="['/comprar']"  (click)="guardarSeleccion(2)">
      <ion-icon name="bag-handle" size="large"></ion-icon>
      Comprar
    </ion-button>
  </span>
    
  <br><br><br><br>

  <ion-row class="center">
    <ion-progress-bar value="1" color="primary"></ion-progress-bar>
  </ion-row>
  
