/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import '@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

body {
    background-image: url('assets/images/fondo.jpg'); /* Reemplaza 'ruta/a/tu/imagen.jpg' con la ruta de tu imagen */
    background-size: cover; /* Ajusta el tamaño de la imagen para cubrir todo el fondo */
    background-position: center; /* Centra la imagen en el fondo */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    
}

.imarg{
    margin-top: 5%;
}

ion-title {
    background: rgb(92, 29, 194);
    color: white;
}

ion-toolbar { 
    background: rgb(92, 29, 194) !important;
}
   
ion-menu-button {
    color: white !important;
}

ion-item {
    --ion-background-color: transparent;
}

.scrollable {
    overflow-y: auto; /* Agrega un desplazamiento vertical */
    height: 90%; /* Establece la altura del div */
}

ion-select {
    --background: rgb(255, 255, 255);
    --border-color: rgb(44, 44, 44);
    --border-width: 2px;
    --border-radius: 10px;
    margin-left: 4% !important;
    width: 92% !important;
}

ion-input, ion-textarea, ion-datetime {
    background-color: white !important;
    border-color: #00f !important;
    border-width: 2px !important;
    border-radius: 10px !important;
    border: 1px solid #000000 !important;
    font-size: x-large !important;    
    text-align: center;
}

